body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
}

header {
    background-color: rgb(83, 166, 238);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
}

nav {
    display: none;
}

.wrapper {
    display: flex;
    padding: 20px 15px;
    width: 85%;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
}

aside {
    width: 20%;
    margin-right: 10px;
}

figure img {
    width: 100%;
    min-width: 100px;
}

figure {
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    flex-wrap: wrap;
}

article {
    border: thin solid black;
    box-shadow: 5px 7px 10px;
    width: 25%;
    flex-wrap: wrap;
    min-width: 260px;
}

article h2 {
    text-align: center;
}

article img {
    width: 100%;
}

article p {
    padding: 10px;
}

footer {
    text-align: center;
}