body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: url(worldsmall.svg.png) pink;
    font-size: 16px;
    color-scheme: white;
}


header {
    background-image: url(airplane.png);
    background-repeat: no-repeat;
    background-position: right;
}

nav a {
    color: blue;
}

.current {
    color: blueviolet;
    text-decoration-line: none;
}

.mylist {
    list-style-image: url(mapred.svg.png);
}

