body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: #009048;
    color: white;
    padding: 10px;
}

nav {
    padding-top: 10px;
    background-color: rgb(208, 245, 152);
    display: flex;
    justify-content: space-around;
}

a:hover {
    color: rgb(0, 200, 255);
}

.now {
    color: gray;
    text-decoration: none;
}


.picture {
    text-align: center;
}

 .borderpicture {
    border: 2px solid black;
 }
.picture figcaption {
    margin-top: 5px;
}

.photodiv {
    max-width: 85%;
}

.table caption {
    padding-top: 15px;
}

.table {
    border: 2px solid black;
    box-shadow: 5px 2px 3px rgba(30, 30, 30, 0.3);
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 900px;
    margin: 0 auto;
}

.table tr, .table th {
    border: 1px solid black;
    padding: 5px 2px;
}

.table td {
    padding: 10px;
    justify-content: center;
}

.map {
    width: 60%;
    max-width: 600px;
    position: relative;
    left: 23%;
    border: 3px solid #73AD21;
}


@media ONLY screen AND (max-width: 700px) {
    nav {
        flex-direction: column;
        text-align: center;
        gap: 3px;
    }

    nav a {
        padding: 3px 0 5px 0;
        border-bottom: 1px solid white;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
