body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    text-align: center;
    background-color: #009048;
    color: white;
    padding: 10px;
}

nav {
    padding-top: 10px;
    background-color: rgb(208, 245, 152);
    display: flex;
    justify-content: center;
}

.navigation {
    text-align: center;
    width: 700px;
    display: flex;
    justify-content: space-between;
}
a:hover {
    color: rgb(0, 200, 255);
}

.now {
    color: gray;
    text-decoration: none;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
}

.picture {
    text-align: center;
    width: 640px;
}

.picture figcaption {
    margin: 5px 0;
    font-size: 16px;
    border-bottom: 2px solid black;
}

.picture img {
    width: 100%;
}

iframe {
    display: block;
    margin: 0 auto;
}

.photodiv {
    max-width: 85%;
}

.table caption {
    padding-top: 15px;
}

.table {
    border: 2px solid black;
    box-shadow: 5px 2px 3px rgba(30, 30, 30, 0.3);
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 900px;
    margin: 0 auto;
}

.table tr, .table th {
    border: 1px solid black;
    padding: 5px 2px;
}

.table td {
    padding: 10px;
    justify-content: center;
}

.causion {
    font-size: 20px;
}

.form-row, .radio-row {
    display: flex;
    gap: 10px;
    margin: 15px;
}

.form-row label, .form-row p, .radio-row p {
    width: 200px;
    text-align: right;
    font-size: 18px;
}

.form-row input, .form-row select, .form-row textarea {
    width: 200px;
}

.form-row input:hover, .form-row select:hover, .form-row textarea:hover {
    background-color: rgba(128, 128, 128, 0.454);
}

.submit {
    text-align: center;
    font-size: 25px;
    margin: 50px 0 15px 0;
}

.submit input {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 40px;
}

.submit input:hover {
    background-color: gray;
    color: white;
}

.google {
    display: block;
}

.google p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
}


fieldset {
    border: 2px solid orange;
}

legend {
    color: rgba(255, 166, 0, 0.869);
}

form {
    margin-bottom: 20px;
}

@media ONLY screen AND (max-width: 700px) {

    .navigation {
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        gap: 3px;
    }
    nav a {
        padding: 3px 0 5px 0;
        border-bottom: 1px solid white;
    }

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .picture {
        width: 85%;
        margin: 0 auto;
    }

    form {
        padding: 0 20px;
    }
    .form-row, .radio-row {
        flex-direction: column;
        row-gap: 0;
    }

    .form-row label, .form-row p, .radio-row p {
        width: 85%;
        text-align: left;
        margin: 0;
    }

    .radio {
        display: flex;
        flex-direction: column;
    }

    .submit {
        display: flex;
        flex-direction: column;
    }

    .google {
        width: 500px;
        margin: 0 auto;
    }

    .google iframe {
        width: 350px;
        height: 280px;
    }

}
